@import "tailwindcss";

@theme {
  --font-lufga: var(--font-lufga);
  --font-inter: var(--font-inter);
  --font-urbanist: var(--font-urbanist);

  --color-primary: #fd853a;
  --color-black: #171717;
  --color-dark-bluish-gray: #1d2939;
  --color-charcoal-blue: #344054;
  --color-blue-gray: #98a2b3;

  --max-width-8xl: 90rem;
  --max-width-9xl: 100rem;

  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
}

.masking-service {
  -webkit-mask: url("../../public/images/shapes.png") center / contain no-repeat, linear-gradient(black 0 0);
  -webkit-mask-composite: destination-in;
  mask: url("../../public/images/shapes.png") center / contain no-repeat, linear-gradient(black 0 0);
  mask-position: center;
  mask-composite: intersect;
}

.masking-blog {
  -webkit-mask: url("../../public/images/blog-1.png") center / contain no-repeat, linear-gradient(black 0 0);
  -webkit-mask-composite: destination-in;
  mask: url("../../public/images/blog-1.png") center / contain no-repeat, linear-gradient(black 0 0);
  mask-position: center;
  mask-composite: intersect;
}

@keyframes infinite-scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}
